@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "QuicksandLight";
    src: local("QuicksandLight"),
        url("./Fonts/Quicksand-Light.ttf") format("truetype");
}

@font-face {
    font-family: "QuicksandBold";
    src: local("QuicksandBold"),
        url("./Fonts/Quicksand-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "QuicksandMedium";
    src: local("QuicksandMedium"),
        url("./Fonts/Quicksand-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "QuicksandRegular";
    src: local("QuicksandRegular"),
        url("./Fonts/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "QuicksandSemiBold";
    src: local("QuicksandSemiBold"),
        url("./Fonts/Quicksand-SemiBold.ttf") format("truetype");
}